<%- include('header'); -%>
<div class="nav-bar">
    <li class="first">Home</li>
</div>
<div class="text-container-0">
    <h1 class="title-text0">
        welcome to our blog writing post
        
    </h1>
   
    <div class="image-container">
        <img src="images/istockphoto-1446806057-612x612.jpg" alt="" class="pic">
    </div>
</div>
<div class="text-conatainer-9">
    <p class="text-paragraph">
        Welcome to our blog writing page! We are overjoyed to have you here and extend our warmest greetings to all passionate writers, readers, and creators. This platform is a haven for anyone with a love for words and a desire to connect with like-minded individuals. Whether you’re an experienced writer, someone who writes for fun, or a curious reader seeking inspiration, you’ll find this space brimming with opportunities to explore, express, and grow.

Our blog writing page is more than just a place to post articles; it’s a community built around the art of storytelling and the exchange of ideas. Writing is a powerful tool—it allows us to capture emotions, share knowledge, and even change perspectives. Here, we celebrate that power by providing a welcoming environment where your voice truly matters.

For writers, this is your stage to shine. Do you have a story waiting to be told, an opinion that needs to be shared, or an experience that could inspire others? This is the perfect place to turn your thoughts into impactful pieces of writing. No matter your preferred style—be it creative storytelling, informative articles, poetry, or personal reflections—your words will always have a home here. Don’t worry about perfection; this is a space for growth, exploration, and authenticity.
Happy writing!

    </p>
</div>
<div class="header-container">
    <h1 class="header-1">what can you do here?</h1>
</div>

    <div class="title-bar">
        <div class="wrapper-here">
        <div class="icons-items">
            <img src="images/writing.png" alt="" class="pic-2">
            <div class="text-here-1">
                <h1 class="heading-4">write</h1> 
                <p class="title-2">Yes you can wirte in this blog 
                    by going to post so,simply you have to write the 
                <span class="text-height">/post </span>in the top of the browser the default you can see is 
            localhost:3000 in that you have to write  <span class="text-height">localhost:3000/post </span>
        to wirte the blog that you want to post  </p>
             </div>
        </div>
        
        <div class="icons-items">
            <img src="images/search.png" alt="" class="pic-2">
            <div class="text-here-1">
                <h1 class="heading-4">Search</h1> 
                <p class="title-2">Yes you can search in this blog 
                    by going to  <span class="text-height">main </span>so, simply you have to write the 
                /main in the top of the browser the default you can see is 
            localhost:3000 in that you have to write  <span class="text-height">localhost:3000/main </span>
        to wirte the blog that you want to post  </p>
             </div>
        </div>
        <div class="icons-items">
            <img src="images/read.png" alt="" class="pic-2">
            <div class="text-here-1">
                <h1 class="heading-6">Read</h1> 
                <p class="title-2">Yes you can read in this blog 
                    by going to post so, simply you have to write the 
                    <span class="text-height">/main</span> in the top of the browser the default you can see is 
            localhost:3000 in that you have to write  <span class="text-height">localhost:3000/main </span>
        and then after that click readmore it will redirect to the blog page  </p>
             </div>
        </div>
    </div>
    </div>
        



<style>
   
    .wrapper-here{
        display: flex;
        align-items: center;
        justify-content: center;
      
    }
    .title-2{
        margin-top: -25px;
        width: 470px;
        font-size: 20px;
        margin-left: 10px;
        letter-spacing: 2px;
    }
    .text-height{
        color: red;
        
        text-shadow: 0 0 10px rgb(255, 51, 0), 0 0 20px rgb(219, 13, 13);
      
        font-weight: bold;
        

    }
    .heading-4{
        margin-left: 180px;
        letter-spacing: 5px;
        font-size: 40px;
        margin-top: -10px;
    }
    .heading-6{
        margin-left: 190px;
        letter-spacing: 5px;
        font-size: 40px;
        margin-top: -10px;
    }
    .icons-items{
        width: 500px;
        height: 400px;
        background-color: white;
        border-radius: 40px;
        margin-left: 100px;
        margin-right: 100px;
        
        margin-top: 30px;
        
    }
    .pic-2{
        width: 100px;
        height: 100px;
        margin-left: 200px;
        margin-top: 10px;
    
    }
 
    .title-bar{
        width: 1900px;
        height: 500px;
        background-color: rgb(44, 86, 163);
        border-radius: 40px;
       
    }
    .header-1{
        color: white;
        font-size: 45px;
        margin-left: 740px;
        
    }
    .text-paragraph{
        color: white;
        width: 500px;
        margin-top: -300px;
    }
    .pic{
        width: 1400px;
        height: 500px;
        border: none;
        border-radius: 50px;
        box-shadow: 5px 5px 15px 5px rgba(12, 89, 134, 0.5);
    }
    .text-container-0{
        display: flex;
      
        margin-top: 50px;
      
    }
    body{
        background-color: rgb(8, 17, 8);
    }
    .title-text0{
        width: 500px;
        font-size: 60px;
       
       
       
        color: white;
    }
    .paragraph{
        color: white;
        
        margin-left: 300px;
    }
</style>
</body>
</html>