<%- include('header'); -%>

<div class="nav-bar">
    <li class="first"><%= title %></li>
</div>
<p class="first-text">
    <h1 class="text-white"><%= title %></h1>
</p>
<div class="text-conatiner">
    <div class="text-container">
        <p class="more-text"><%= blog %></p>
    </div>
</div>

</body>
</html>
